.marker {
  width: 27px;
  height: 43px;
  overflow: hidden;
  position: absolute;
  left: -12px;
  top: -43px;
}
.marker.img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 43px;
  user-select: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  max-width: none;
}
.marker span {
  position: absolute;
  top: 6px;
  left: 9px;
  font-size: 15px;
}
